{%extends "./layouts/main_layout.html"%}
{%block content%}
<script src="../static/js/mathJax.js"></script>
<h1>{{title}}</h1>
<p>Beign a part of the burning stars, its not okay not to think about it!</p>

<table>
  <caption>Planck Units</caption>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Plank Length</td>
    <td>\(1.616255 \times 10^{−35}\) m</td>
  </tr>
  <tr>
    <td>Planck Time</td>
    <td>\(5.391247 \times 10^{−44}\) s</td>
  </tr>
  <tr>
    <td>Planck Mass</td>
    <td>\(2.176434 \times 10^{−8}\) kg</td>
  </tr>
  <tr>
    <td>Planck Temperature</td>
    <td>\(1.416784 \times 10^{32}\) K</td>
  </tr>
</table>
{%endblock%}
