<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
	<link rel="stylesheet" href="static/font/font.css"/>
</head>

<style>
body { font-family:'Roboto-Light' ; background-color:#ccebff;}
a,h1,h2,p {color:#3377ba8;}
</style>


<body>

{% block content %}

{% endblock %}


<footer>
<ul>
	<li> <a href="/">Home</a></li>
</ul>
&copy; 2022 Mahid
</footer>
</body>
</html>
